body {
    font-family: Arial, sans-serif;
    background-color: #7d76b9;
    /* fuente de todo lo seleccionado y cambia el color por su codigo de color hexadecimal */
}

h3 {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    /* lo mismo solo que lo unico que cambia es que lo aplica a el texto o h2 que refiere a el titulo  */
    color : #ffffff;

}


h2 {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    /* lo mismo solo que lo unico que cambia es que lo aplica a el texto o h2 que refiere a el titulo  */
    color : #ffffff;
}


label {
    width: 30px;
    height: 40px;
    color:#000000
}
div {
    background-color: #0eb5df;
    
    padding: 10px;
    border-radius: 12px;
    margin: 10px auto;
    /* background color: el color de fondo de el div, width: el ancho de el div, padding: espacio entre el contenido y el borde de el div, border-radius: redondeo de las esquinas de el div, margin: espacio entre el div y otros elementos */
}

label{
    color: #ffffff;
}

input {
    background-color: rgb(75, 19, 121);
    color: #ffffff;
}

button {
    border-radius: 12%;
    width: 100px;
    height: 25px;
    background-color: #ffffff;
    color: #0e0e0e;
    /* border: bordes de el boton, width-height: tamaño de el boton, 
    backround color: el color de el fondo de el boton, y color : color de las letras de el boton */
}

button:hover {
    border-radius: 15%;
    width: 110px;
    height: 35px;
    background-color: #5a688a;
    color: #ffffff;
    cursor: pointer;
    /* lo mismo pero reacciona a el puntero en el boton y cambia varias cosas
        cursor: cambia la forma de el cursor */
}

thead {
    background-color: #10a7ff;
}


tr {
    background-color: #ff0000;
}

th {
        color: #4d0379;
}
    
a {
    color: #ffffff; 
}

a:hover {
        font-weight: 10;
        color :rgb(28, 13, 156);
}