header {
            background-color: #182385;
            color: rgb(255, 255, 255);   
            padding: 15px;
            text-align: center;
        }
        nav a {
            color : white;
            margin: 0 20px;
            text-decoration: auto;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration: underline;
        }
    body {
        background: linear-gradient(to right, #dbeafe, #eff6ff);
        font-family: Arial, sans-serif;
    }
    .card {
        border-radius: 15px;
        overflow: hidden;
    }
    .card-header {
        background: linear-gradient(135deg, #182385, #2563eb);
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    label {
        font-weight: bold;
        color: #1e3a8a;
    }
    input {
        border-radius: 10px !important;
    }
    .btn-success {
        background-color: #16a34a;
        border: none;
        border-radius: 10px;
    }
    .btn-success:hover {
        background-color: #15803d;
    }
    .btn-warning {
        border-radius: 10px;
    }
    table {
        border-radius: 10px;
        overflow: hidden;
    }
    thead {
        background-color: #1e293b;
        color: white;
    }
    tbody tr:hover {
        background-color: #e0f2fe;
        transition: 0.3s;
    }
    .boton-regresar{
            background-color: linear-gradient(45deg,#182385, #4e6cff);
            color: white;
            border: none;
            padding: 12px 25px;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
        }
        .boton-reporte:hover{
            transform: scale(1.1);
            background: linear-gradient(45deg, #4e6cff, #182385);
        }
        .boton-reporte{
            background-color: linear-gradient(45deg,#182385, #4e6cff);
            color: white;
            border: none;
            padding: 12px 25px;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
        }
        .boton-reporte:hover{
            transform: scale(1.1);
            background: linear-gradient(45deg, #4e6cff, #182385);
        }
        .boton-actualizar{
            background-color: linear-gradient(45deg,#182385, #4e6cff);
            color: white;
            border: none;
            padding: 12px 25px;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
        }
        .boton-actualizar:hover{
            transform: scale(1.1);
            background: linear-gradient(45deg, #4e6cff, #182385);
        }
        .boton-agregar{
            background-color: linear-gradient(45deg,#182385, #4e6cff);
            color: white;
            border: none;
            padding: 12px 25px;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
        }
        .boton-agregar:hover{
            transform: scale(1.1);
            background: linear-gradient(45deg, #4e6cff, #182385);
        }
        .boton-agregarestud{
            background-color: linear-gradient(45deg,#182385, #4e6cff);
            color: white;
            border: none;
            padding: 12px 25px;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
        }
        .boton-agregarestud:hover{
            transform: scale(1.1);
            background: linear-gradient(45deg, #4e6cff, #182385);
        }
        .boton-eliminar {
            background:linear-gradient(45deg, #ff4d4d, #cc0000);
            color: white;
            border: none;
            padding: 6px 12px;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
        }
        .boton-eliminar:hover{
            transform: scale(1.1);
        }
        .boton-editar{
            background:linear-gradient(45deg, #ffc107, #ff9800);
            color: black;
            border: none;
            padding: 6px 12px;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
        }
        .boton-editar:hover {
            transform: scale(1.1);
        }
        .boton-regresar{
            background-color: linear-gradient(45deg,#182385, #4e6cff);
            color: white;
            border: none;
            padding: 12px 25px;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
        }
        .boton-reporte:hover{
            transform: scale(1.1);
            background: linear-gradient(45deg, #4e6cff, #182385);
        }
    